.add-subscription {
    background-color: #F7F7F7; /* Green */
    border: 1px solid #1B223E;
    color: #1B223E;
    width: 180px;
    height: 50px;
    border-radius: 30px;
    margin-left: 1017px;
    margin-bottom: 30px;
    margin-top: 1px;
    cursor: pointer;
    font-family: inter;
    font-weight: bold;
  }
  
  .edit-customer{
    background-color: #EE9179; /* Green */
    border: 1px solid #EE9179;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    margin-left: 1px;
    cursor: pointer;
    font-family: inter;
    font-weight: bold;
    font-size: 18px;
  }

  .edit-user-button{
    background-color: #1B223E;
    border: 1px solid #1B223E;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    font-family: inter;
    margin-bottom: 6px;
    font-weight: bold;
  }

  .save-user{
    background-color: #1B223E;
    border: 1px solid #1B223E;
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    font-family: inter;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .cancel-save-user{
    background-color: #F7F7F7;
    border: 1px solid #1B223E;
    color: #1B223E;
    width: 140px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    font-family: inter;
    margin-top: 20px;
    font-weight: bold;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
  }
  
  .text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px; 
  }
  