  .card {
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-left: 50px ;
    width: 85%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
    margin-top: 0;
  }   
  
  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #EDDDDC;
  }
  
  th {
    font-weight: bold;
    position: sticky;
    top: 0;
    font-family: inter;
    color: #1B203B;
    font-size: 18px;
  }


  td {
    font-family: inter;
    color: #1B203B;
    font-size: 15px;
  }
  
  .table-body-hover > tr:hover {
    background-color: #efeeee !important;
    cursor: pointer;
  }
  
  
  .table {
    padding-left: 225px;
    padding-bottom: 10px;
    background-color: #f7f7f7;
    margin-left: 20px;
  }

  .table-title {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-left: 50px;
    color: #EE9179;
    padding-top: 10px;
    font-family: inter;
  }

  tr {
    border-bottom: 2px solid #EDDDDC; /* replace red with the color of your choice */
  }

  .icon-hover-blue:hover {
    color: #1B203B !important;
    cursor: pointer;
  }
  
  