.add-subscription {
    background-color: #F7F7F7; /* Green */
    border: 1px solid #225544;
    color: #225544;
    width: 150px;
    height: 50px;
    left: 1378px;
    top: 197px;
    border-radius: 20px;
    margin-left: 1080px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: inter;
  }
  
  .edit-customer{
    background-color: #EE9179; /* Green */
    border: 1px solid #EE9179;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    margin-left: 30px;
    cursor: pointer;
    font-family: inter;
  }