.new-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 250px;
}

.edit-user-card {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 30px;
}

.new-title {
  text-align: center;
  margin-bottom: 20px;
}

.new-title h2 {
  color: #EE9179;
  font-size: 24px;
  font-weight: bold;
}

.edit-user-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-user-label {
  color: #1b223e;
  font-size: 14px;
  font-weight: bold;
}

.edit-user-input {
  border: 1px solid #1b223e;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.edit-user-input:focus {
  border-color: #1b223e;
}

.user-email-label {
  color: #1b223e;
  font-size: 14px;
  font-weight: bold;
}

.email-input {
  border: 1px solid #1b223e;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.email-input:focus {
  border-color: #1b223e;
}

.user-role-label {
  color: #1b223e;
  font-size: 14px;
  font-weight: bold;
}

.select-wrapper {
  border: 1px solid #1b223e;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.select-wrapper:focus {
  border-color: #1b223e;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 300px;
  margin: auto;
}

label
{
  text-align: left;
}