.wrapper{
    height: 100vh;
    width: 500px;
}

.login{
    width: 300px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    background-color: rgb(238, 241, 243);
    color: black;
}